service cloud.firestore {
  match /databases/{database}/documents {
        //   - Authenticated user can read
        //   - Authenticated user can create/update (for demo)
        //   - Validate updates
        //   - Deletes are not allowed

        match /{userId}/{datapoints} {
    allow read, write, update: if request.auth.uid == userId;
    allow delete: if false;
  }
  }
}
